@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Nova+Square&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    overflow: hidden;
    background-color: lightgrey;
    font-family: "Nunito", sans-serif;
}
.body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    height: 500px;
    width: 500px;
    background-color: black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.cell {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 900;
}
.display {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 900;
}
.line {
    display: none;
}
.line {
    position: absolute;
    height: 475px;
    width: 10px;
    background-color: black;
    z-index: 5;
}
.dg1 {
    height: 650px;
    transform: rotate(-45deg);
}
.dg2 {
    height: 650px;
    transform: rotate(45deg);
}
.vert {
    transform: rotate(180deg);
}
.horizontal {
    transform: rotate(90deg);
}