@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Nova+Square&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: hidden;
    background-color: lightgrey;
    font-family: "Nunito", sans-serif;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.topWrap {
    height: 6%; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 128px;
}

button {
    background-color: rgb(156, 156, 156);
    padding: 12px 24px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(95%);
}
.mainContainer {
    height: 75%;
    aspect-ratio: 1 / 1;
}

.mainContainer, .container {
    background-color: black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
.container {
    border: 12px solid lightgrey;
    gap: 8px;
}
.container:hover {
    cursor: pointer;
}
.locked {
    cursor: auto;
    animation: locked 0.3s forwards;
}
.unlocked {
    animation: unlocked 0.3s forwards;
}
.cell {
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-family: "Manrope", sans-serif;
}
.mainContainer > .cell {
    font-size: 6rem;
}
.container > .cell {
    font-size: 2rem;
}
.cell:hover {
    filter: brightness(90%);
}
.line {
    display: none;
    padding: 5px 0px;
    border-radius: 5px;
    width: 10px;
    position: absolute;
    height: 75vh;
    z-index: 5;
    background-color: black;
    justify-self: center;
    align-self: center;
    transform: translate(0vh, 0vh) rotate(0deg) scale(1, 1);
}
@keyframes locked {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.75;
    }
}
@keyframes unlocked {
    0% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}
@media (max-width: 500px) {
    .mainContainer {
        height: 50%;
        aspect-ratio: 1 / 1;
    }
    .topWrap {
        justify-content: space-between;
        gap: 54px;
    }
    .mainContainer > .cell {
        font-size: 4rem;
    }
    .container > .cell {
        font-size: 1.12rem;
    }
    .mainContainer {
        gap: 3px;
    }
    .container {
        gap: 1px;
    }
}