@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Nova+Square&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
body {
    overflow: hidden;
    background-color: lightgrey;
    font-family: "Nunito", sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.topWrap {
    height: 6%;
    width: 33%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

button {
    background-color: rgb(156, 156, 156);
    padding: 12px 24px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
    border: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(95%);
}
.mainContainer {
    height: 75%;
    aspect-ratio: 1 / 1;
}

.mainContainer, .container {
    background-color: black;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
}
.container {
    border: 12px solid lightgrey;
    gap: 8px;
}
.container:hover {
    cursor: pointer;
    filter: brightness(90%);
}
.cell {
    background-color: lightgrey;
}
.cell:hover {
    filter: brightness(90%);
}
.line {
    display: none;
    padding: 5px 0px;
    border-radius: 5px;
    width: 10px;
    position: absolute;
    /* height: hypot(67vh, 67vh); */
    height: 75vh;
    z-index: 5;
    background-color: black;
    justify-self: center;
    align-self: center;
    transform: translate(0vh, 0vh) rotate(0deg) scale(1, 1);
}